                    /* STILI BODY */
html, body {
  height: 100%;
}

body {
  /*border: 1px solid black;*/
  margin: 0;
  display: flex;
  justify-content: center;
  /* This centers our sketch horizontally.
  justify-content: center;
  This centers our sketch vertically.
  align-items: center; */
}

                  /* STILI ID */
#title{
  text-align: center;
  color: grey;
}

#start{
  margin-left: 40px;
  margin-top: 20px;
}

                /* STILI CLASS */
.top{
  top: 0px;
}

.bottom{
  bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.center {
  position: absolute;
  border-radius: 5px;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.panel{
  position: absolute;
  width: 500px;
  height: 90px;
  background-color: #8e8e8e;
}
