html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically.
  align-items: center; */
}

#title{
  /*text-align: center; */
  color: grey;
}

#start{
  margin-left: 40px;
  margin-top: 20px;
}

.top{
  top: 0px;
}

.bottom{
  bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.panel{
  position: absolute;
  width: 500px;
  height: 90px;
  background-color: #8e8e8e;
}
